<% provide(:title, "Contact") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Bpatt</title>
  </head>
  <body>
       <div class="center jumbotron">
  <h1>Contact</h1>


</div>
  </body>
</html>
