<% provide(:title, "Impressum") %>
<!DOCTYPE html>
<html>
<head>
<style>
body {
    background-image: url("../assets/bild_impressum.jpg");
    background-repeat: repeat;
    background-position: top;
}
</style>

</head>
</html>

<div class="container-fluid">
 <div class="row">
  <div class="col-md-6" id= "Impressum">
  Tobias Schumann </br>
  Beuth Hochschule</br>
  Wirtschaftsinformatik online </br>
  Projekt Softwaretechnik Bpatt

  </div>
  <div class="col-md-6" id="Impressum">
  Alexander Stapel </br>
  Beuth Hochschule</br>
  Wirtschaftsinformatik online </br>
  Projekt Softwaretechnik Bpatt
  </div>
</div>
</div>

<div>
	<center> <img src="../assets/Das_Team.jpg" width="150" height="150" alt="#" class="img-circle"></center>
</div>

