<% provide(:title, "Impressum") %>

<div class="container-fluid">
 <div class="row">
  <div class="col-md-6">
  Tobias Schumann </br>
  Beuth Hochschule</br>
  Wirtschaftsinformatik online </br>
  Projekt Softwaretechnik Bpatt

  </div>
  <div class="col-md-6">
  Alexander Stapel </br>
  Beuth Hochschule</br>
  Wirtschaftsinformatik online </br>
  Projekt Softwaretechnik Bpatt
  </div>
</div>
</div>