<footer class="footer">
  <small>
    Congratulations to Albania
  </small>
  <nav>
    <ul>
      <li><%= link_to "Impressum", impressum_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      
    </ul>
  </nav>
</footer>